{% extends "demo/base.html" %}
{% block title %}index{% endblock %}

{% block content %}
{% if data %}
<h4>Thông tin Tỉnh/Thành {{data.title}} (đã trừ các trường hợp hết cách ly)</h4>
<div style="overflow-x:auto;">
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>Số Ca F0</th>
            <th>Số Ca F1</th>
            <th>Số Ca F2</th>
            <th>Tổng số lượng cách ly tại {{data.title}}</th>
            <th>Số lượng ca nhiễm mới ngày {% now "d/m/Y" %}</th>
            <th>Số ca hết cách ly</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{data.f0}}</td>
            <td>{{data.f1}}</td>
            <td>{{data.f2}}</td>
            <td>{{data.isolation}} ( F1: {{data.isolationf1}} ca, F2: {{data.isolationf2}} ca )</td>
            <td>{{data.newf}}</td>
            <td>{{data.oldf}}</td>
        </tr>
    </table>
    <h4>Các quận/huyện tại {{data.title}}</h4>
</div>
<input class="form-control" id="myInput" type="text" placeholder="Tìm..">
<div style="overflow-x:auto; overflow-y:auto; max-height:500px">
    <table class="table table-striped table-hover js-sort-table table-responsive">
        <thead class="sticky-top bg-light">
        <tr>
            <th scope="col">Tên </th>
        </tr>
        </thead>
        <tbody id="myTable">
        {%for row in total%}
        <tr>
            <td class="field-patientcode">
                {% if row %}
                <a href="{% url 'demo:district' row.slug%}">{{ row.disname }}</a>
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>
{% endif%}
{% endblock %}


