{% extends "demo/base.html" %}
{% block title %}My amazing blog{% endblock %}

{% block content %}
<h2>Thông tin {{ id.name}}</h2>
<table id="result_list1">
    <thead>
    <tr>
        <th scope="col" class="sortable column-id">
            <div class="text"><a href="?o=1">ID</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class=" column-patientcode">
            <div class="text"><a href="?o=2">Patientcode</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-name">


            <div class="text"><a href="?o=3">Name</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-status">
            <div class="text"><a href="?o=4">Status</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-f0">

            <div class="text"><a href="?o=5">F0</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-f1">
            <div class="text"><a href="?o=6">F1</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-f2">
            <div class="text"><a href="?o=7">F2</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-phone">
            <div class="text"><a href="?o=8">Phone</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-address">
            <div class="text"><a href="?o=9">Address</a></div>
            <div class="clear"></div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="field-id">{{ id.id }}</td>
        <td class="field-patientcode">
            <a href="">{{ id.patientcode }}</a>
        </td>
        <td class="field-name">{{ id.name }}</td>
        <td class="field-status">{{ id.status }}</td>
        <td class="field-f0 nowrap">
            {% if id.f0 %}
            {{ id.f0.name }}
            {% endif %}
        </td>
        <td class="field-f1 nowrap">
            {% if id.f1 %}
            {{ id.f1.name }}
            {% endif %}
        </td>
        <td class="field-f2 nowrap">
            {% if id.f2 %}
            {{ id.f2.name }}
            {% endif %}
        </td>
        <td class="field-phone">{{ id.phone }}</td>
        <td class="field-address">{{ id.address }}</td>
    </tr>
    </tbody>
</table>
<h2>
    {% if id.status == "f0" %}
    F1 và F2 của {{ id.name }}
    {% elif id.status == "f1" %}
    F2 của {{id.name }}
    {% endif %}
</h2>
<table id="result_list">
    <thead>
    <tr>
        <th scope="col" class="sortable column-id">
            <div class="text"><a href="?o=1">ID</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class=" column-patientcode">
            <div class="text"><a href="?o=2">Patientcode</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-name">


            <div class="text"><a href="?o=3">Name</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-status">
            <div class="text"><a href="?o=4">Status</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-f0">

            <div class="text"><a href="?o=5">F0</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-f1">
            <div class="text"><a href="?o=6">F1</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-f2">
            <div class="text"><a href="?o=7">F2</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-phone">
            <div class="text"><a href="?o=8">Phone</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-address">
            <div class="text"><a href="?o=9">Address</a></div>
            <div class="clear"></div>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for row in users %}
    <tr>
        <td class="field-id">{{ row.id }}</td>
        <td class="field-patientcode">
            <a href="{% url 'demo:detail' row.patientcode %}">{{ row.patientcode }}</a>
        </td>
        <td class="field-name">{{ row.name }}</td>
        <td class="field-status">{{ row.status }}</td>
        <td class="field-f0 nowrap">
            {% if row.f0 %}
            {{ row.f0.name }}
            {% endif %}
        </td>
        <td class="field-f1 nowrap">
            {% if row.f1 %}
            {{ row.f1.name }}
            {% endif %}
        </td>
        <td class="field-f2 nowrap">
            {% if row.f2 %}
            {{ row.f2.name }}
            {% endif %}
        </td>
        <td class="field-phone">{{ row.phone }}</td>
        <td class="field-address">{{ row.address }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<p class="paginator">
     <span class="step-links">
        {% if users.has_previous %}
            <a href="?page={{ users.previous_page_number }}">Previous</a>
        {% endif %}
    </span>
    <span class="current">
        Page {{ users.number }} of {{ users.paginator.num_pages }}.
    </span>
    <span>
        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">Next</a>
        {% endif %}
    </span>
</p>
{% endblock %}