{% extends "demo/base.html" %}
{% block title %}index{% endblock %}

{% block content %}
{% if p != ''%}
<h4>Thông tin Quận/Huyện {{total.title}} (đã trừ các trường hợp hết cách ly)</h4>
<div style="overflow-x:auto;">
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>Số Ca F0</th>
            <th>Số Ca F1</th>
            <th>Số Ca F2</th>
            <th>Tổng số lượng cách ly</th>
            <th>Số lượng ca nhiễm mới ngày {% now "d/m/Y" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{total.f0}}</td>
            <td>{{total.f1}}</td>
            <td>{{total.f2}}</td>
            <td>{{total.isolation}} ( F1: {{total.isolationf1}} ca, F2: {{total.isolationf2}} ca )</td>
            <td>{{total.newf}}</td>
        </tr>
    </table>
    <h4>Thông tin chi tiết về các ca mắc tại Quận/Huyện {{total.title}}</h4>
</div>
<input class="form-control" id="myInput" type="text" placeholder="Tìm..">
<div style="overflow-x:auto; overflow-y:auto; max-height:500px">
    <table class="table table-striped table-hover js-sort-table table-responsive">
        <thead class="sticky-top bg-light" style="z-index:5">
        <tr>
            <th scope="col">Tên </th>
            <th scope="col">Số ca F0</th>
            <th scope="col">Số ca F1</th>
            <th scope="col">Số ca F2</th>
            <th>Số lượng cách ly </th>
            <th>Số lượng ca nhiễm mới ngày {% now "d/m/Y" %}</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for row in detail %}
        <tr>
            <td class="field-patientcode">
                {% if row.extra %}
                <a href="{% url 'demo:province' row.extra.slug%}">{{ row.extra.proname }}</a>
                {% else %}
                -
                {% endif %}
            </td>
            <td>{{row.f0}}</td>
            <td>{{row.f1}}</td>
            <td>{{row.f2}}</td>
            <td>{{row.isolation}} ( F1: {{row.isolationf1}} ca, F2: {{row.isolationf2}} ca )</td>
            <td>{{row.newf}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>
{% endif%}
{% endblock %}

{% block chart %}
{% if p != '' %}

<div class="container">
    <div id="combochart" style="height:500px;">
    </div>
</div>
  <script>
    //chart
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawVisualization);
        console.log({{combo|safe}})
        function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable({{combo|safe}});

        var options = {
          title : 'Số ca nhiễm phân bổ theo xã',
          seriesType: 'bars',
          series: {1: {type: 'line'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('combochart'));
        chart.draw(data, options);
      }
  </script>
{% endif %}
{% endblock%}

