{% extends "demo/base.html" %}
{% block title %}index{% endblock %}

{% block content %}
{% if data %}
<h4>Thông tin {{data.title}} (đã trừ các trường hợp hết cách ly)</h4>
<div style="overflow-x:auto;">
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>Số Ca F0</th>
            <th>Số Ca F1</th>
            <th>Số Ca F2</th>
            <th>Số Ca F3</th>
            <th>Số lượng cách ly tại {{data.title}}</th>
            <th>Số lượng ca nhiễm mới ngày {% now "d/m/Y" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{data.f0}}</td>
            <td>{{data.f1}}</td>
            <td>{{data.f2}}</td>
            <td>{{data.f3}}</td>
            <td>{{data.isolation}} ( F1: {{data.isolationf1}} ca, F2: {{data.isolationf2}} ca )</td>
            <td>{{data.newf}}</td>
    </table>
    <h4>Thông tin chi tiết về các ca mắc tại {{data.title}}</h4>
</div>
{% endif %}
<div style="overflow-x:auto; overflow-y:auto; max-height:500px">
    <table class="table table-striped table-hover js-sort-table table-responsive">
    <thead class="sticky-top bg-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Mã bệnh nhân</th>
        <th scope="col">Họ Tên</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">F cha</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Phường/Xã</th>
        <th scope="col">Quận/Huyện</th>
        <th scope="col">Tỉnh/Thành</th>
        <th scope="col" class="js-sort-date">Ngày phát hiện</th>
        <th scope="col">Kết quả</th>
        <th scope="col">Khu cách ly</th>
    </tr>
    </thead>
    <tbody>
    {% for row in users %}
    <tr>
        <td class="field-id">{{ row.id }}</td>
        <td class="field-patientcode">
            <a href="{% url 'demo:detail' row.patientcode %}">{{ row.patientcode }}</a>
        </td>
        <td class="field-name">{{ row.name }}</td>
        <td class="field-status"><a href="{% url 'demo:view' row.status.tag %}">{{ row.status }}</a></td>
        <td class="field-f0">
            {% if row.f_status %}
            <a href="{% url 'demo:detail' row.f_status.patientcode %}">{{ row.f_status.name }}</a>
            {% else %}
            -
            {% endif %}
        </td>
        <td class="field-phone">{{ row.phone }}</td>
        <td class="field-address">{{ row.address }}</td>
        <td class="field-phone">
            {% if row.province %}
            <a href="{% url 'demo:province' row.province.slug %}">{{ row.province.proname }}</a>
            {% else %}
            -
            {% endif %}
        </td>
        <td class="field-address">
            {% if row.province %}
            <a href="{% url 'demo:district' row.province.district.slug %}">{{ row.province.district.disname }}</a>
            {% else %}
            -
            {% endif %}
        </td>
        <td class="field-address">
            {% if row.province %}
            <a href="{% url 'demo:city' row.province.district.city.slug %}">{{ row.province.district.city.cityname }}</a>
            {% else %}
            -
            {% endif %}
        </td>
        <td class="field-address">{{ row.created_at|date:"j F, Y" }}</td>
        <td class="field-address">
            {% if row.test_result %}
            <a href="{% url 'demo:view' row.test_result.tag %}">{{ row.test_result.testname }}</a>
            {% else %}
            -
            {% endif %}
        </td>
        <td>{{ row.isolation_area}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

{% block chart %}
{%if data%}
<div class="breadcrumbs">
    <i class="fas fa-chart-pie" id="pie"></i>
    <i class="fas fa-chart-bar" id="bar"></i>
</div>
<div id="chart">
</div>
<script type="text/javascript">
//Load google charts
 google.charts.load('current', {'packages':['corechart', 'bar']});
 google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
    const pie = document.querySelector("#pie");
    const bar = document.querySelector("#bar");
    let chart = document.querySelector('#chart');
 var data = google.visualization.arrayToDataTable([
  ['F', '{{data.title}}',{ role: 'style' }],
  ['F0', {{ data.f0 }},'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2'],
  ['F1', {{ data.f1 }},'stroke-color: #703593; stroke-opacity: 0.6; stroke-width: 4; fill-color: #703593; fill-opacity: 0.2'],
  ['F2', {{ data.f2 }},'stroke-color: #76A7FA; stroke-opacity: 0.6; stroke-width: 4; fill-color: #76A7FA; fill-opacity: 0.2'],
  ['F3', {{ data.f3 }},'stroke-color: #50CB93; stroke-opacity: 0.6; stroke-width: 8; fill-color: #50CB93; fill-opacity: 0.2'],
]);

  // Optional; add a title and set the width and height of the chart
  var options = {
        'title':'Thống kê các ca nhiễm ở {{data.title}}'
   };

  //Display the chart inside the <div> element with id="piechart"
    function drawPieChart() {
          var piechart = new google.visualization.PieChart(chart);
          piechart.draw(data, options);
          pie.style.color = 'white';
          bar.style.color = '#c4dce8';
          bar.onclick = drawBarChart;
     }
     function drawBarChart() {
          var barchart = new google.visualization.ColumnChart(chart);
          barchart.draw(data, options);
          bar.style.color = 'white';
          pie.style.color = '#c4dce8';
          pie.onclick = drawPieChart;
     }
    window.onresize = doALoadOfStuff;
    drawPieChart()
    function doALoadOfStuff() {
        drawPieChart();
        drawBarChart()
    }

  }
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{%endif%}
{% endblock%}


